@model RegistrationRequestDto
<form method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Login</h1>
        </div>        
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Name" class="form-control" placeholder="name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>  
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Email" type="email" class="form-control" placeholder="email..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>  
            <div class="col-6 offset-3 pb-2">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="phoneNumber..." />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
                    <option disabled selected>--select role--</option>
                </select>
            </div>
            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit">Register</button>
            </div>
        </div>
    </div>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}