@page "/"
@using Todo.Blazor.Components.Common.Product


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
Welcome to your new app.
<div class="container mx-auto">
        @if (products != null)
        {
            @foreach (var product in products)
            {
                <ProductCard product=@product></ProductCard>
            }
        }
        else
        {
            <p>loading......</p>
        }
</div>
@inject IProductService productService;
@inject ICartService cartService;


@code {
    private int currentCount = 0;
    private List<ProductDto>? products = new();

    protected override async Task OnInitializedAsync()
    {
        ResponseDto? response = await productService.GetAllProductsAsync();

        if (response != null && response.IsSuccess)
        {
            products = JsonConvert.DeserializeObject<List<ProductDto>>(Convert.ToString(response.Result));
        }
        else
        {
            //  TempData["error"] = response?.Message;
        }
        //  actors = await DataRepository.GetAllActorsAsync();
    }


    private void IncrementCount()
    {
        currentCount++;
    }
}