@inherits LayoutComponentBase
<div x-data="{ cartOpen: false , isOpen: false }" class="bg-white">
    <Header />
    <Todo.Blazor.Components.Common.ShoppingCart/>
    <main class="my-8">
        @Body
    </main>
    <Footer/>

</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

